Web-Application-Development-.Net-4/ConsumingWebServices/Connected Services/WfcProxy/WFCService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WFCService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50434/WFCService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50434/WFCService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50434/WFCService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServicesAndWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWFCService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWFCService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWFCService_GetEmployeesById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesById" />
  </wsdl:message>
  <wsdl:message name="IWFCService_GetEmployeesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWFCService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IWFCService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWFCService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFCService/DoWork" message="tns:IWFCService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFCService/DoWorkResponse" message="tns:IWFCService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFCService/GetEmployeesById" message="tns:IWFCService_GetEmployeesById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFCService/GetEmployeesByIdResponse" message="tns:IWFCService_GetEmployeesById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFCService/GetEmployees" message="tns:IWFCService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFCService/GetEmployeesResponse" message="tns:IWFCService_GetEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWFCService" type="tns:IWFCService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWFCService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesById">
      <soap:operation soapAction="http://tempuri.org/IWFCService/GetEmployeesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IWFCService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WFCService">
    <wsdl:port name="BasicHttpBinding_IWFCService" binding="tns:BasicHttpBinding_IWFCService">
      <soap:address location="http://localhost:50434/WFCService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>